.rojo {
    color: crimson;
}

.nav-estilos {
    display: block;
    background: #afd737;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;


}

.nav-estilos:hover {
    background: #afd737;

}

nav {
    padding: 10px;

}

.columnas {
    background: #afd737;
    color: black;
    padding: 25px;
    width: 25%;
    margin: 10%;

}

.padre {

    justify-content: space-around;

}

button {
    background: #afd737;
   color: #040403;
}

button:hover {
    background: #afd737
}

button:active {
    background: #afd737;
}


body {
    background-color: #000000 !important;
  
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}


li a {
    display: block;
    color:  #afd737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lia {
    display: block;
    color:  #afd737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #afd737;
}

footer {
    display: block;
}

nav{
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.nav-link{
    color: #afd737;
}

